; -*- mode: clojure; -*-
; vim: filetype=clojure

(require '[clj-http.client :as client] 
		 '[cheshire.core :as json]
		 '[riemann.query :as query])

(logging/init :file "/var/log/riemann/riemann.log")

(def hostname (.getHostName (java.net.InetAddress/getLocalHost)))

(include "alerta.clj")

(tcp-server :host "0.0.0.0")
(udp-server :host "0.0.0.0")
(ws-server :host "0.0.0.0")
(repl-server)
(graphite-server :host "0.0.0.0")

(instrumentation {:enabled? false})

; reap expired events every 10 seconds
(periodically-expire 10)

; set of severity functions
(defn severity
	[severity message & children]
	(fn [e] ((apply with {:state severity :description message} children) e)))

(def informational (partial severity "informational"))
(def normal (partial severity "normal"))
(def warning (partial severity "warning"))
(def minor (partial severity "minor"))
(def major (partial severity "major"))
(def critical (partial severity "critical"))

; thresholding
(let [index (default :ttl 900 (update-index (index)))
		dedup-alert (changed-state alerta)]

	(streams
		(throttle 1 30
			heartbeat))

	(streams
		;prn
		(match :service "load"
			(with {:event "SystemLoad" :group "OS"}
				(splitp < metric
					0.7 (major "15-min load average is very high" dedup-alert)
					0.4 (warning "15-min load average is high" dedup-alert)
					(normal "15-min load average is OK" dedup-alert))))

		(match :service "cpu"
			(with {:event "CpuUtil" :group "OS"}
				(splitp < (* metric 100)
					70 (major "15-min load average is very high" dedup-alert)
					40 (warning "15-min load average is high" dedup-alert)
					(normal "15-min load average is OK" dedup-alert))))

		(match :service "memory"
			(with {:event "MemUtil" :group "OS"}
				(splitp < (* metric 100)
					70 (major "15-min load average is very high" dedup-alert)
					40 (warning "15-min load average is high" dedup-alert)
					(normal "15-min load average is OK" dedup-alert))))

		(match :service #"disk"
			(with {:event "FsUtil" :group "OS"}
				(splitp < (* metric 100)
					95 (critical "15-min load average is very high" dedup-alert)
					90 (major "15-min load average is very high" dedup-alert)
					80 (warning "15-min load average is high" dedup-alert)
					(normal "15-min load average is OK" dedup-alert))))))


